*.suo
*.exe
*.ilk
*.pdb
*.obj
Old/win32_window.cpp
*.dll
*.exp
*.lib
D3D_Demo/qweqweqwe.txt
D3D_Demo/D3D11_Demo.VC.VC.opendb
*.db
*.ipch
VulkanTest/VulkanTest/VulkanTest.vcxproj
VulkanTest/VulkanTest/VulkanTest.vcxproj.user
VulkanTest/VulkanTest/x64/Debug/vc141.idb
*.log
VulkanTest/VulkanTest/VulkanTest.vcxproj.filters
*.tlog
VulkanTest/x64/Release/VulkanTest.ipdb
*.iobj
VulkanTest/x64/Release/shaders/compile.bat
VulkanTest/x64/Release/shaders/compile.sh
VulkanTest/x64/Release/shaders/frag.spv
VulkanTest/x64/Release/shaders/shader.frag
VulkanTest/x64/Release/shaders/shader.vert
VulkanTest/x64/Release/textures/chalet.jpg
VulkanTest/x64/Release/textures/texture.jpg
VulkanTest/x64/Release/shaders/vert.spv
VulkanTest/.vs/VulkanTest/v15/Browse.VC.opendb